body {
    background-image: url(https://amiel.club/uploads/posts/2023-03/1677650360_amiel-club-p-polki-v-vide-pchelinikh-sot-dizain-oboi-75.jpg);
    margin: 5px;
}

/* header styles */

.header-container {
    background: #f1d0d0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    height: 42px;
    align-items: center;
}

.logo {
    margin-left: 200px;
    font-size: 50px;

}

.header-item {
    height: 100%;
    width: 100%;
    line-height: 42px;
    text-align: center;
    border-radius: 25px;
    font-size: 50px;
}

.header-item:hover {
    cursor: pointer;
    background: #f5bca5;
}

.header-container > a {
    text-decoration: none;
    color: black;
}

/* content styles */

.content {
    margin: 100px;
}

/* about styles */

#about {

}

.about-item {
    display: grid;
}

.odd {
    grid-template-columns: 2fr 4fr;
}

.even {
    grid-template-columns: 4fr 2fr;
}

.about-photo {

}

.about-text {
    text-align: justify;
    margin: auto;
    font-size: 50px;
    display: grid;
    grid-template-rows: 5px 5px;
}

.about-photo > img {
    width: 20%;
    margin: auto;
    border-radius: 50px;
    display: grid;
    grid-template-rows: 10% 10%;
}

/* features styles*/

#feature {
    padding-top: 42px;
    display: grid;
    grid-template-rows: 500px 50px;
}

.feature-paginator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.feature-paginator button {
    border: none;
    background: #f5bca5;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
}

.feature {
    display: grid;
    grid-template-rows: 50px 350px 100px;
    align-items: center;
    justify-items: center;
}
.feature img {
    max-height: 70%;
}


/* subs styles */
.subscribe-text {
    width: 5%;
    margin: auto;
    text-align: justify;
    align-items: center;
    justify-items: center;
    font-size: 40px;
}

.subscribe-form {
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-row-gap: 10px;
    width: 500px;
    margin: auto;
}

input, select {
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    padding-left: 15px;
}

#submit-form {
    height: 40px;
    background: chocolate;
    border: none;
    border-radius: 15px;
    font-size: 30px;
}
#submit-form:hover {
    cursor: pointer;
    opacity: 80%;
}


/* footer styles */

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    align-items: center;
}

.footer-item {
    text-align: center;
    font-size: 30px;
}

.footer-item > a {
    text-decoration: none;
    color: black;
}

.footer-item > a:hover {
    text-decoration: underline;
}
